.button {
  display: block;
  width: 281px;
  height: 55px;
  text-align: center;
  .font_config(18px, 49px, 700, @font_family);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}
