.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__text {
  .font_config(@font_size, 18px, @font_weight, @font_family);
}

.gallery__heart {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  text-indent: 200px;
  overflow: hidden;
}
