.page-header {
  background-color: #1d2631;
}

.page-header__download {
  width: 320px;
  padding-top: 490px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.page-header__text {
  .font_config(@font_size, 24px, 300, @font_family);
  color: #ffffff;
}

.page-header__title {
  height: 237px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  .reset();
  padding-top: 100px;
  text-align: center;
  .font_config(24px, @line_height, 300, @font_family);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
}
