.page-header {
  background-color: #1d2631;
}

.page-header__download {
  width: 320px;
  padding-top: 490px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__link {
  display: block;
  width: 281px;
  height: 55px;
  text-align: center;
  .font_config(18px, 49px, 700, @font_family);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}
