.gallery__form {
  background-color: #f2f2f2;
}

.post__label {
  display: block;
  width: 280px;
  height: 374px;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
}
