.site-list {
  .font_config(18px, 64px, 700, @font_family);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
