.social-media {
  display: flex;
  .ul_config();
}

.social-media__link {
  display: block;
  width: 46px;
  height: 46px;
  border: 3px solid fade(#283645, 10%);
  border-radius: 50%;
  text-indent: -1000px;
}

.social-media__link--tw {
  background-image: url("../img/icon-twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-media__link--fb {
  background-image: url("../img/icon-facebook.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-media__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-footer__text {
  .font_config(@font_size, 18px, @font_weight, @font_family);
}
