.user-content__wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0 20px;
}

.user-content__text {
  width: 280px;
  .reset();
  margin: 0 auto;
  .font_config(@font_size, @line_height, 400, @font_family);
  color: #283645;
  text-align: center;
}
